@font-face {
    font-family: "Neue Machina";
    src: url(../fonts/NeueMachina-Regular.otf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Neue Machina";
}

body {
    background-color: #F0F0F0;
}
.otasi {
    justify-content: space-between;
    display: flex;

}

.site-header {
    max-width: 1280px;
    margin-left: auto; 
    margin-right: auto;
    display: flex;  
    padding-top: 2.25rem;
    gap: 20px;
}

.flex-grow-1 {
    flex-grow: 1;
}
.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.mr-2\.5rem {
    margin-right: 2.5rem;
}

.logo-size {
    height: 52px;
}

.gap-2\.5rem {
    gap: 2.5rem;
}

.btn-primary {
    background-color: #151515;
    color: #fff;
    padding: 0.75rem 2.25rem;
    border-radius: 0;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-primary:hover {
    border-color: #151515;
    background-color: white;
    color: #151515;
    box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.25);
}

.btn-secondary {
    background-color: transparent;
    color: #151515;
    padding: 0.75rem 2.25rem;
    border-radius: 0;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-secondary:hover {
    border-color: #151515;
    /* color: #fff; */
    box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.25);
}


.a {
    display: flex;
    gap: 30px;
}
.header-heading {
    font-size: 70px;

}

.text2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.pt-5rem {
    padding-top: 5rem;
}

.form {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gap-20px {
    gap: 20px;
}

.btn-1 {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    color: white;
    background: #151515;
    border: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    /* text-align: center;
   */
}

.email-input {
    padding: 13px 108px 13px 30px;
    border: none;
}

.email-input::placeholder {
    font-size: 16px;
    line-height: 15px;
    color: black;
}

.img {}

.karta {
    gap: 32px;
}

/* 2 chi block uchun */
.ul {
    list-style-type: square;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.gap {
    margin-bottom: 25px;
}

.gap2 {
    margin-bottom: 45px;
}

.block2 {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    gap: 20px;
}



/* 4 chi block boshlanishi */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    background-color: #CACACA;
    display: flex;
}

.block2 {
    margin-right: 1951;
}

.block3 {
    margin-top: 25px;
    margin-left: 100px;
    font-Weight: 400;
    font-Size: 60px;
    Line-height: 57.9px;
}

.block4 {
    margin-top: 44px;
    margin-left: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.send {
    width: 68px;
    height: 26px;
    margin-top: 170px;
    margin-left: 650px;
    font-weight: 800;
    font-size: 14px;
    line-height: 26px;
}

/* 4 chi block tugadi */