@font-face {
    font-family: "Neue Machina";
    src: url(../fonts/NeueMachina-Regular.otf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Neue Machina";
}

body {
    background-color: #F0F0F0;
}

.otasi {
    justify-content: space-between;
    display: flex;

}

.site-header {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 2.25rem;
    gap: 20px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}
.mr-2\.5rem {
    margin-right: 2.5rem;
}

.logo-size {
    height: 52px;
}

.gap-2\.5rem {
    gap: 2.5rem;
}

.btn-primary {
    background-color: #151515;
    color: #fff;
    padding: 0.75rem 2.25rem;
    border-radius: 0;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-primary:hover {
    border-color: #151515;
    background-color: white;
    color: #151515;
    box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.25);
}

.btn-secondary {
    background-color: transparent;
    color: #151515;
    padding: 0.75rem 2.25rem;
    border-radius: 0;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-secondary:hover {
    border-color: #151515;
    /* color: #fff; */
    box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.25);
}



/* 7 chi block boshlanishi */
.otasi {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 160px;
}

.goole {
    display: flex;
    height: 3.75rem;
    ;
    width: 24.5rem;
}

.a {
    color: #fff;
}

.footer {
    background-color: black;
}
.flex{
display: flex;
}
.a1 {
 width: 180px; 
 height: 74px;
}

.a2{
    width: 142px; 
    height: 175px; 
}
.a3{
    width: 206.44px; 
    height: 184px; 
}

.block2 {
    margin-right: 00px;
}
.havola{
    color: #fff;
    
}
.a.havola:link {color:#ff0000;}
.a.havola:visited {color:#0000ff;}
.a.havola:hover {color:#ffcc00;}
.footer{
    width: 1440px;
    height: 560px;
}



/* 7 chi block tugadi */
